body{
    background-color: #29353e;
    font-family:Arial;
    color: #b8bcc4;
}
.Title{
    font-weight: 900;
}
#participants{
    position: fixed;
    background-color: #1c2a35;
    border-radius: 10px;
    left: 1vw;
    bottom: 10vh;
    top: 8vh;
    right: 80vw;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 40px;
    color: #c9cdd6;
}
#messageInputSection{
    position: fixed;
    background-color: #1c2a35;
    border-radius: 10px;
    top: 92vh;
    bottom: 1vh;
    left: 1vw;
    right: 1vw;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    padding: 20px;
}
#messageInput{
    position: absolute;
    background-color: #041f29;
    border-radius: 10px;
    top: 1.5vh;
    bottom: 1.5vh;
    left: 1.5vh;
    right: 12vw;
    border-style: solid;
    border-color: #001015;
    border-width: 3px;
    color: #d1d5dd;
    font-size: 20px;
}
#sendButton{
    position: absolute;
    background-color: #041f29;
    border-radius: 10px;
    top: 1.5vh;
    bottom: 1.5vh;
    left: 88vw;
    right: 1.5vh;
    border-style: solid;
    border-color: #001015;
    border-width: 3px;
    color: #b8bcc4;
    font-size: 20px;
    cursor: pointer;
}


#messages{
    position: fixed;
    background-color: #1c2a35;
    padding-top: 30px;
    border-radius: 10px;
    bottom: 10vh;
    top: 8vh;
    left: 22vw;
    right: 1vw;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #c9cdd6;
}
.message{
    background-color: rgb(0, 153, 255);
    margin: 20px;
    margin-left: 50px;
    padding: 15px;
    width: 50vw;
    border-radius: 10px;
    color: rgb(240, 240, 240);
}