.amazon{
    color: rgb(0, 131, 154);
    transition: color 0.2s;
}
.amazon:hover{
    color: rgb(255, 132, 0);
}


.nike{
    font-weight: bold;
}


.price{
    color: rgb(0, 118, 0);
}


.cart{
    background-color: rgb(255, 216, 20);
    border: none;
    width:100px;
    height: 36px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s,
                opacity 0.1s;
}
.cart:hover{
    background-color: rgb(245, 206, 0);
}
.cart:active{
    opacity: 0.6;
}


.buy{
    background-color: rgb(255, 164, 28);
    border: none;
    width:100px;
    height: 36px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s,
                opacity 0.1s;
}
.buy:hover{
    background-color: rgb(245, 154, 28);
}
.buy:active{
    opacity: 0.6;
}